<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Mascotas perdidas</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='/script.js') }}"></script>

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú</h2>
            <ul>
                <li><a href="/">Volver</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Lista de tus mascotas perdidas</h1>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fecha de pérdida</th>
                        <th>Fecha último avistamiento</th>
                        <th>Localización</th>
                        <th>Eliminar</th>

                    </tr>
                </thead>
                <tbody>
                    {% for pet in lista %}
                    <tr>
                        <td>{{ pet.nombre }}</td>
                        <td>{{ pet.tipo }}</td>
                        <td>{{ pet.fecha }}</td>
                        <td>{{ pet.ultimo_avistamiento if pet.ultimo_avistamiento else "No ha sido avistada" }}</td>
                        <td>{%if pet.ultimo_avistamiento %}
                            <a href="/ver-avistamientos/{{ pet.id }}">Ver en mapa</a>
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            <form class="eliminar-pet-form" action="/eliminar-mascota/{{ pet.id }}" method="post" onsubmit="return confirm('¿Estás seguro de eliminar esta mascota?');">
                                <button class="eliminar-pet-button" type="submit">X</button>
                            </form>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
